/* regole generali */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

section {
    width: 100%;
    padding: 50px 0;
}

a {
    text-decoration: none;
}


/* regole intestazione */
.block-nav {
    width: 25%;
    padding: 5px;
    /* DEBUG */
    background-color: orange;
    border: 1px dotted black;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

.middle {
    width: 50%;
}

.right {
    text-align: right;
}

li {
    list-style-type: none;
}

#first-section-header {
    padding: 20px 0;
    /* DEBUG */
    background-color: aquamarine;
}

/* regole seconda sezione header */
#second-section-header {
    /* DEBUG */
    background-color: blue;
    height: 400px;
}

#second-section-header div {
    width: 65%;
    margin: 0 auto;
    /* DEBUG */
    height: 300px;
    background-color: palevioletred;
    border: 1px dotted black;
}


/* regole parte principale */

/* regole prima/terza sezione */
.image {
    width: 60%;
    /* DEBUG */
    background-color: skyblue;
    border: 1px dotted black;
    height: 400px;
}

.text {
    /* DEBUG */
    width: 40%;
    background-color: pink;
    border: 1px dotted black;
    height: 400px;
}

/* regole seconda sezione */
.bg-grey {
    /* DEBUG */
    background-color: lightgrey;
}

.reverted {
   flex-direction: row-reverse; 
}

/* regole quarta sezione */
#big-div {
    /* DEBUG */
    background-color: green;
    height: 700px;
    border: 1px dotted black;
}



/* regole footer */
footer {
    background-color: rgb(34, 38, 41);
}

/* regole prima section footer */
#first-footer {
    padding-top: 10px;
    padding-bottom: 50px;
    border-bottom: 1px solid white;
}
#social {
    width: 35%;
    /* DEBUG */
    background-color: red;
    height: 500px;
    border: 1px dotted black;
}

.credits {
    width: calc(65% / 4);
    /* DEBUG */
    background-color: rgb(32, 179, 171);
    height: 500px;
    border: 1px dotted white;
}

/* regole seconda section footer */
#second-footer {
    padding: 0;
}

#block {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    /* DEBUG */
    background-color: aqua;

}

.buttons {
    padding: 5px;
    /* DEBUG */
    background-color: pink;
    border: 1px dotted black;
}